#container{
    width: 500px;
    height: 500px;
    background-color: orange;
    border:solid;
    border-radius: 25px;
}

.login{
    position: relative;
    top: 20px;
    left: 100px;
    border: solid;
    border-radius: 25px;
    background-color: whitesmoke;
}



#pageLogged{
    width: 500px;
    height: 500px;
    display: none;
    background-color: orangered;
}